.first {
	background-color: #afeeee;
	padding: 10px;
	margin: 30px;
	margin-top: 10px;
	margin-bottom: 10px;


}
.first img {
	width: 500px;
}

.first td {
	padding: 10px;
	vertical-align: top;
}

.second h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
} 
.header header {
	background-color: #960018;
	padding: 10px;
	color: white;
	margin: 30px;
	margin-bottom: 10px;
}
.third {
	display: flex;
	margin: 30px;
	margin-top: 10px;
}
.third img {
	width: 100%;
}
.third h3 {
	padding-left: 10px;
}
.third p {
	padding: 10px;
	padding-top: 0px;
}
.third div {
	width: 25%;
	border: 1px solid #c0c0c0;
}
.third button {
	background-color: #960018;
	color: white;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 0px;
}
.body {
	border: 2px solid #bbbbbb;
	border-radius: 20px;
}
